/* body{
    overflow-x :hidden; */

.one{
    width: 100%;
    height: 800px;
    padding: 250px;
    background-image:url("../images/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    text-align:center;
    color: white;
}
.one img:last-child{
    padding-top:200px;
}
.one h1 {
    padding-top:px;
}
.two{
    text-align: center;
}
.three{
    background-image: url("../images/s_image.jpg");
    height: 400px;
    text-align: center;
    color: white;
    padding-top: 120px;
    font-weight: bold;
}
h2{
    text-align: center;
    margin: auto;
}
#four{
    /* margin-left: 180px;
    height: 300px; */
    text-align: center;
    padding-top: 50px;
}
#five{
    margin-right:100px;
    margin-left: 100px;
}
.six{
    height:400px;
    background-image : url("../images/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.w-100{
    padding:20px;
    width: 300px;
}
form{
    text-align: center;
}
input[type=text]{
    width :400px;
    border:1px solid white;
    background: transparent;
    color: white;
}
input[type=email]{
    border: 1px solid white;
    border-radius :none;
    background: transparent;
    color : white;
}
#comment{
    background: transparent;
    border: 2px solid white;
    width: 700px;
    height: 200px;
    color: white;
}
#comment::placeholder{
    color: white;
    padding-left: 20px;
}
input[type=email]::placeholder{
    color:white;
}
input[type=text]::placeholder{
    color: white;
}
.six h2{
    color :white;
}
.seven{
    text-align: center;
}
#designdescription{
    text-align: center;
    display: none;
}
#developmentdescription{
    margin-right: 20%;
    text-align: center;
    display: none;
}
#productdescription{
    text-align: center;
    display: none;
}
#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8{
    text-align : center;
    background-color: rgba(255, 255, 255, 0.39);
    height: 215px;
    width: 260px;
    position: absolute;
    top:20px;
    margin-left :20px;
    display: none;
}